<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Blogroll</h3>
  </div>
  <div id="recent_posts" class="list-group">
      <a class="list-group-item" href="http://coolshell.cn/">陈皓</a>
      <a class="list-group-item" href="http://mindhacks.cn/">刘未鹏MIND HACKS</a>
      <a class="list-group-item" href="http://blog.codingnow.com/">云风</a>
      <a class="list-group-item" href="http://www.cnblogs.com/Solstice/">陈硕</a>
      <a class="list-group-item" href="http://blog.nosqlfan.com/">NoSQLFan</a>
      <a class="list-group-item" href="http://ifeve.com/">并发编程网</a>
      <a class="list-group-item" href="http://blog.javachen.com/">JavaChen</a>
      <a class="list-group-item" href="http:http://www.parallellabs.com/">并行实验室</a>
      <a class="list-group-item" href="http:http://www.yanjiuyanjiu.com/">研究研究</a>
  </div>
</section>